---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import cardImage from '../images/card-top.jpg';
const links = [
    {
		title: 'Twitter',
		url: 'https://twitter.com/mtane0412/',
		icon: 'simple-icons:twitter',
	},
	{
		title: 'GitHub',
		url: 'https://github.com/mtane0412/',
		icon: 'simple-icons:github',
	},
	{
		title: 'Instagram',
		url: 'https://www.instagram.com/mtane0412/',
		icon: 'simple-icons:instagram',
	},
	{
		title: 'Facebook',
		url: 'https://www.facebook.com/mtane0412/',
		icon: 'simple-icons:facebook',
	},
	{
		title: 'Twitch',
		url: 'https://www.twitch.tv/tanenob/',
		icon: 'simple-icons:twitch',
	},
    {
        title: 'Discord',
        url: 'https://discord.gg/aWwM2TeENV',
        icon: 'simple-icons:discord'
    },
    {
        title: 'Scrapbox',
        url: 'https://scrapbox.io/mtane0412/',
        icon: 'simple-icons:scrapbox'
    },
    {
        title: 'Steam',
        url: 'https://steamcommunity.com/id/tanenobu/',
        icon: 'simple-icons:steam'
    },
    {
        title: 'Amazon',
        url: 'https://www.amazon.jp/hz/wishlist/ls/36AQEMD64FHKR',
        icon: 'simple-icons:amazon'
    },
    {
        title: 'Mastodon',
        url: 'https://fedibird.com/@mtane0412',
        icon: 'simple-icons:mastodon'
    },
    {
        title: 'Misskey',
        url: 'https://misskey.io/@mtane0412',
        icon: 'simple-icons:misskey'
    },
    {
        title: 'BlueSky',
        url: 'https://bsky.app/profile/mtane0412.bsky.social',
        icon: 'simple-icons:bluesky'
    },
    {
        title: 'Ghost',
        url: 'https://hanatane.net/',
        icon: 'simple-icons:ghost'
    },
    {
        title: 'Nostr',
        url: 'https://nostr.com/npub1nca6cct4ce6zhm5mxhufqjym696jdlyr6h7zq76fqlw5p0gnnyus35j2v3',
        icon: 'game-icons:ostrich'
    },
    {
        title: 'mixi',
        url: 'https://mixi.jp/show_profile.pl?id=67379023',
        icon: 'entypo-social:mixi'
    }
]
---

<div class="flex flex-wrap justify-center items-center gap-4 my-8">
    {links.map((link) => (
        <div>
            <a href={link.url} rel="me" title={link.title}><Icon name={link.icon} width={32} height={32} /></a>
        </div>
    ))}
</div>

<style>
    a {
        color: #fff;
    }
</style>
